div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.cart-backGround {
  background-color: rgb(150, 201, 209);
  width: 70%;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yourCart {
  font-size: 30px;
  font-weight: 500;
  color: rgb(36, 45, 91);
  padding: 7% 7% 0% 7%;
}

.cart-white {
  background-color: white;
  border-radius: 5px;
  width: 85%;
  height: 370px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.topLineRemove td {
  text-align: center;
  border-left: none;
  border-right: none;
  border-top: none;
}

.bottomLineRemove td {
  border-bottom: none;
}

.EYSC {
  margin: 3% 0% 0% 8%;
  float: left;
}

.payBtn {
  margin: 3% 11.5% 0% 0%;
  float: right;
}

.payBtn input {
  padding: 10%;
  color: white;
  background-color: navy;
  border-radius: 10px;
  font-size: 17px;
}

/*  */

.Cart-backGround {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.cart-table td {
  padding: 15px;
  border: 1px solid #c2d3de;
}

.cart-table td:nth-child(2) {
  width: 400px;
}

/* Pseudo-class Seleter 연습 */
/* reference : https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes */

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

/* hover, focus, active 순서가 중요 */
/* hofa 로 외우기 (호빠 ㅋ) */

/* 버튼에 커서를 올렸을 때 */
.btn:hover {
  background-color: chocolate;
}

/* 버튼을 클릭한 후 */
.btn:focus {
  background-color: gray;
}

/* 버튼에 커서를 올린 후 클릭'중'일 때 */
.btn:active {
  background-color: brown;
  /* border: 2px solid black; */
}

.input-test {
  font-size: 20px;
}

.input-test:focus {
  border: 2px solid rgb(59, 253, 53);
}

.custom-link {
  text-decoration: none;
}

/* 방문 전 링크 스타일 */
.custom-link:link {
  color: skyblue;
}
/* 방문 후 링크 스타일 */
.custom-link:visited {
  color: rgb(241, 12, 12);
}
