.container {
  width: 800px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainBox {
  width: 70%;
  height: 100%;
  float: left;
}

.imgBox {
  width: 30%;
  height: 100%;
  float: right;
}

.mainImg {
  width: 100%;
  margin: auto;
}

.userImg {
  width: 55px;
  border-radius: 40px;
  float: left;
  margin-top: 2%;
}

.userName {
  font-size: 15px;
}

.uploadTime {
  font-size: 10px;
}

.titleMain {
  font-weight: 700;
}

.navbar {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ~안에 있는 '모든' 자식 */
.navbar li {
  display: inline-block;
  width: 60px;
  text-align: center;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

/* ~안에 있는 '직계' 자식 */
/* 
.navbar > li {
  display: inline-block;
} */

.navbar a {
  font-size: 16px;
  text-decoration: none;
}
