div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e9f2ff;
}

.background {
  width: 90%;
  margin: 2% auto;
}

.main-container {
  border: solid 1px rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  background-color: white;

  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  padding: 3%;
}

.me {
  display: flex;
  width: 100%;
}

/* .me div {
  margin-right: 3vw;
} */

/* .sun {
  width: 15px;
  height: 50px;
  opacity: 0.5;
  background-color: grey;
} */

.my {
  display: flex;
  margin-right: 3%;
  /* align-items: center; */
  /* padding-left: 3%; */
  /* justify-content: space-between;  */
  /* min-width: 100%; */
}

.my-1 {
  font-weight: 600;
}

.my-2 {
  min-width: 150px;
  margin-left: 15%;
}

.serve-title {
  width: 100%;
  height: auto;
  margin: 2% auto;
  display: flex;
}

.one {
  background-color: white;
  border: solid 1px rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  width: 20%;
  height: 50vh;
  padding: 2%;
}

.two {
  background-color: white;
  border: solid 1px rgba(128, 128, 128, 0.411);
  border-radius: 10px;
  width: 60%;
  padding: 2%;
  margin: 0 1% 0 1%;
}

hr {
  opacity: 0.5;
  border-color: grey;
  margin: 10% 0;
  width: auto;
}

.two h2 {
  margin-bottom: 5%;
}

.two span {
  border-radius: 20px;
  margin: 1% 0.5% 1% 0;
  padding: 0.5% 2.5%;
}

.three {
  border-radius: 10px;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  word-wrap: break-word;
}

.three-sign-up {
  border: solid 1px rgba(128, 128, 128, 0.411);
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 10%;
}

.three i {
  color: #6fbaf8;
  margin-bottom: 10%;
}

.three button {
  color: white;
  background-color: #6fbaf8;
  width: 100%;
  margin: 10% 0 3% 0;
}

.people {
  margin-top: 15%;
}

.person {
  text-align: left;
}

.person p {
  margin: 5% auto;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 3%;
  }
  /* 
  .main-container {
    border: solid 1px rgba(128, 128, 128, 0.411);
    border-radius: 10px;
    background-color: white;

    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    padding: 3%;
  } */

  .me {
    margin: 0 auto 0 0;
  }

  .me img {
    width: 20vw;
    margin: 0;
  }

  /* .me :nth-child(1) {
    margin: 0 80px 0 20px;
  } */

  .my {
    margin: 0 auto 0 0;
    width: 35vw;
  }
  /* // */

  .me {
    display: flex;
  }

  .me div {
    margin-right: 3vw;
  }

  /* .sun {
  width: 15px;
  height: 50px;
  opacity: 0.5;
  background-color: grey;
} */

  .my {
    display: flex;
    align-items: center;
    padding-left: 3%;
    /* justify-content: space-between;  */
    min-width: 100%;
  }

  .my-1 {
    font-weight: 600;
  }

  .my-2 {
    /* min-width: 150px; */
    margin-left: 9vw;
  }
}
