@font-face {
  font-family: "이쁜폰트~";
  src: url(../font/NanumSquareR.woff);
}

@font-face {
  font-family: "이쁜폰트2~";
  font-weight: 800;
  src: url(../font/NanumSquareEB.woff);
}

div,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0px;
  /* gulim이 어떤 사유로 적용 불가하다면 dotum으로, 그것도 안되면 그 다음꺼로 순서대로 (안정성)
  font-family: "gulim", "dotum", "arial"; */
  font-family: "이쁜폰트2~";
}

/* 폰트 부드럽게 처리하려면 아주 약간회전 시키기 */
/* body {
  transform: rotate(0.03deg);
} */

.main-backGround {
  width: 100%;
  height: 500px;
  background-image: url(/shoes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.1px;
  /* filter: brightness(70%); */
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  margin-left: 15px;
}

.main-content {
  color: white;
  font-size: 20px;
  margin-left: 15px;
  float: left;
}

.main-btn {
  /* float: left; */
  margin: 22px 0px 0px 15px;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 130px;
}

.serve-backGround {
  background: rgb(232, 232, 232);
  width: 80%;
  max-width: 800px;
  height: 300px;
  position: relative;
  left: 0;
  right: 0;
  top: -40px;
  margin: auto;
}

.serve-title {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 1%;
}

.serve-content {
  font-size: 15px;
  text-align: center;
  padding: 1%;
}

/* input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid rgb(55, 39, 241);
  border-radius: 5px;
} */
/* .text-input {
  padding: 10px;
  font-size: 20px;
  border: 2px solid rgb(55, 39, 241);
  border-radius: 5px;
} */

.signUp-box {
  width: 500px;
  height: 600px;
  background: rgb(240, 182, 240);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signUp-title {
  font-size: 30px;
  font-weight: 800;
  margin: 2%;
}

.signUp-email {
  margin: 2%;
}

.signUp-email input {
  width: 100%;
  padding: 2%;
}

.signUp-firstName {
  width: 45%;
  float: left;
  margin: 2%;
}

.signUp-firstName input {
  width: 100%;
  padding: 3%;
}

.signUp-lastName {
  width: 45%;
  float: right;
  margin: 2%;
}

.signUp-lastName input {
  width: 100%;
  padding: 3%;
}

.signUp-msg {
  width: 96%;
  margin: 2%;
}

.signUp-msg input {
  width: 100%;
  height: 150px;
  padding: 3%;
}

.signUp-sub {
  float: left;
  margin: 2%;
}
.signUp-sub input {
  float: left;
}

.signUp-sendBtn {
  float: right;
  margin: 2%;
}

.signUp-sendBtn input {
  width: 100px;
  height: 40px;
  background-color: rgb(244, 192, 35);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.form-background {
  background-color: black;
  padding: 30px;
}

.form-white {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px;
}

.yellow-button {
  padding: 10px;
  display: block;
  margin-left: auto;
}

/* .flex-item {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 5px;
}

.flex-container {
  display: flex;  가로 정렬 
  justify-content: center;  가운데 정렬, 왼쪽,오른쪽,띄워놓기 등 다 가능 
   flex-direction: column; 세로로 다시 정렬 
  align-items: center;  상하 정렬 
} */

.flex-container {
  background: pink;
  display: flex;
}

.flex-item {
  color: white;
  font-size: 30px;
  margin: 2px 15px 2px 15px;
}

/* media query 문법 */
/* breakpoint 기준 px값은 대중적인 단위 참고해서 사용 */
/* breakpoint : media query 문법 max-width 안에 넣는 브라우저 폭 */
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }

  .flex-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 15px;
  }
}

@media print and (max-width: 576px) {
  .main-title {
    font-size: 15px;
  }
}
